name: Markdown Lint

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Markdown Linting Action
      uses: avto-dev/markdown-lint@v1.5.0
      with:
        args: '*.md docs/*.md'
        config: '.markdown.yml'
